* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: min(2vw, 24px) auto;
  padding: min(2vw, 24px); 
  border: min(2vw, 24px) dashed darkorange;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.23fr 10fr 1fr ;
  grid-template-areas:
      "header"
      "spacer"
      "middle"
      "footer";
  height: 100%;
  max-width: 1200px;
}
.spacer {
  grid-area: spacer;
  height: 100%;
  border-bottom: darkorange solid 2px;
}
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: darkorange;
  font-size: min(4vw, 48px);
  letter-spacing: min(2vw, 24px); 
  height: 100%;
}
.middle {
  height: 100%;
  grid-area: middle;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      "a1 a2 a3"
      "b4 b5 b6"
      "c7 c8 c9";
  grid-gap: min(1vw, 12px);
  padding: min(7.5vw, 90px);
  color: darkorange;
  font-size: min(2vw, 24px);
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
      "a1 a2 a3";
  height: 100%;
  border-top: darkorange solid 2px;
}