.parmabox {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    color: rgb(167, 116, 54);
    font-size: min(2vw, 24px); 
    letter-spacing: min(0.3vw, 6px);;
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 100%;
}

.footer .parmabox {
    padding: 0;
    margin-top: min(1vw, 12px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: darkorange;
    font-size: min(1.3vw, 15.6px);
    letter-spacing: unset;
} 

.middle .parmabox:hover {
    font-size: min(2.6vw, 31.2px);
    background-color: #1a1a1a;
    color: darkorange;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.middle .parmabox:active {
    background-color: #1a1a1a;
    color: rgb(22,198,10);
    font-size: min(2.5vw, 30px);
    border-radius: 10px;
    transition: all 2s ease-in-out;
}
.middle .parmabox a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    height: 100%;
  }

.parmabox.button {
    transition: all 0.3s ease-in-out;
    color: darkorange; 
    font-size: min(2vw, 24px);; 
    background-color: rgb(36, 28, 15);
    background-color: rgb(24,24,24);
    border-radius: 20px;
}
.parmabox.button:hover {
    background-color: rgb(165, 55, 8);
/*    background-color: rgb(167,115,54);*/
    color: black;
    background-color: rgb(167, 116, 54);
    border-radius: 25px;
}